body{
 background-color:#C2DED1;
 margin:0;
}
h1{
  font-family: 'Montserrat',sans-serif;
  font-size:50px;
  line-height: 2;
  margin: 0 auto 0 auto;
}
h2{
  font-family: 'Merriweather',serif;
  font-size: 2.5rem;
  font-weight:normal;
}
h3{
  color: #354259;
  font-family: 'Merriweather',serif;
}
p{
    color: #354259;
  font-family: 'Merriweather',serif;
}
td{
  padding: 10px;
}
a{
    color: #354259;
}
.pfp{
  border-radius: 100%;
  max-height: 300px;
  display: inline-block;
}
.robot{
  background-color:#354259;
  border-radius: 40%;
  margin-right:30px;
  width:30%;
  float:left;
}
.robot:hover{
  border-style:dotted;
  border-color: white;
  border-width: 3px;
}

.totoro{
  background-color:#354259;
  border-radius: 40%;
  float:right;
  margin-left:30px;
  width:30%;
  height:30%;
}
.bottom-cloud{
  position:absolute;
  left:170px;
}
.top-cloud{
position: absolute;
top:30px;
right:200px;
}
.name{
  background-color:#354259;
  color: #CDC2AE;
  margin-top:0;
  text-align: center;
  padding-top: 100px;
}
.middle-container{
  color: #354259;
}
.bottom-container{
  color: #354259;
}
.pro{
  text-decoration: underline;
  text-decoration-style: dashed;
}
.title{
  text-align: center;
}
.skill-row{
  width:50%;
  display: block;
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: left;
}
